{% extends 'informes/index_informes2.html' %}



{% block dashboard %}
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Preparacion de pedidos</h5>

        <div class="pagetitle">
            <h1></h1>
            <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href={% url 'index' %}>Menu</a></li> 
                <li class="breadcrumb-item"><a href={% url 'index_informes2' %}>Preparacion de pedidos</a></li>
                <li class="breadcrumb-item">Consuta Planilla</li>
                {% comment %} <li class="breadcrumb-item active">Breadcrumbs</li> {% endcomment %}
            </ol>
            </nav>
        </div><!-- End Breadcrumbs with a page title -->

    </div>
</div>


{% endblock dashboard %}


{% block graficos_tablas %}

<div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">

            <form action={% url 'consulta_planilla' %} method = "POST"> 
                <p>Nro de picking: {{form.picking}}</p>
                <p>Busqueda por fecha de:{{form.fecha_de}}
                Desde: {{form.fecha_inicial}}
                Hasta: {{form.fecha_final}}</p>
                <p>Busqueda por cliente: {{form.cliente}} 
                 Busqueda por estado de: {{form.estado_de}}
                 Busqueda por operario: {{form.operario}}</p>
                
                
                <button type="submit" class="btn btn-info">Buscar</button>
            </form>
            
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show" role="alert">
        {{msj}}
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>



{% if tabla %}



<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-white rounded h-100 p-4">
                {% block titulo_detalle %}<h6 class="mb-4">Resultado de la busqueda: </h6>{% endblock titulo_detalle %}
                {% comment %} <a href={% url 'informe_global' %}><button class="btn btn-success">Actualizar</a></button> {% endcomment %}
                <table class="table table-bordered border-primary">
                    <thead>
                        <tr>
                            
                            <th scope="col">Cliente</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Picking</th>
                            <th scope="col">Unidades</th>
                            <th scope="col">Fecha Proceso</th>
                            <th scope="col">Hora Proceso</th>
                            <th scope="col">Operario</th>
                            <th scope="col">Fecha Picking</th>
                            <th scope="col">Hora Inicio Picking</th>
                            <th scope="col">Hora Fin Picking</th>
                            <th scope="col">Fecha Armado</th>
                            <th scope="col">Hora Inicio Armado</th>
                            <th scope="col">Hora Fin Armado</th>
                            <th scope="col">Estado Picking</th>
                            <th scope="col">Estado Armado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for valor in tabla %}
                        <tr>
                            
                            <th>{{valor.nombre_planilla}}</th>
                            <td>{{valor.tipo}}</td>
                            <td>{{valor.numero}}</td>
                            <td>{{valor.unidades}}</td>
                            <td>{{valor.fecha_procesado | date:"d/m/Y"}}</td>
                            <td>{{valor.hora_procesado}}</td>
                            <td>{{valor.operario}}</td>
                            <td>{{valor.fecha_picking | date:"d/m/Y"}}</td>
                            <td>{{valor.hora_inicio_picking}}</td>
                            <td>{{valor.hora_fin_picking}}</td>
                            <td>{{valor.fecha_finalizado_armado | date:"d/m/Y"}}</td>
                            <td>{{valor.hora_inicio_armado}}</td>
                            <td>{{valor.hora_fin_armado}}</td>
                            <td>{{valor.estado_picking}}</td>
                            <td>{{valor.estado_armado}}</td>

                            
                            <td><button type="button" class="btn btn-outline-danger m-2"><a href={% url 'editar_global' valor.id %}>Editar</a></button></td>
                            <td><button type="button" class="btn btn-outline-danger m-2"><a href='#'{% comment %} {% url 'edicion_ficha' fichero.id %} {% endcomment %} >Eliminar</a></button></td>
  
                            
  
                        </tr>
                        
                        {% endfor %}
  
  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>   



{% endif %}



{% endblock graficos_tablas %}