{% extends 'index.html' %}


{% block barra_lateral %}
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href={% url 'index' %}>
          <i class="bx bxs-home"></i>
          <span>Menu Principal</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Empleados</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href={% url 'alta_personal_meli' %}>
              <i class="bi bi-circle"></i><span>Alta Personal</span>
            </a>
          </li>
          <li>
            <a href={% url 'crear_categoria' %}>
              <i class="bi bi-circle"></i><span>Parametros</span>
            </a>
          </li>
          <li>
            <a href={% url 'fichero' %}>
              <i class="bi bi-circle"></i><span>Fichero</span>
            </a>
          </li>
          <li>
            <a href={% url 'busqueda_fichero' %}>
              <i class="bi bi-circle"></i><span>Consultas Fichero</span>
            </a>
          </li>
          <li>
            <a href={% url 'ver_personal' %}>
              <i class="bi bi-circle"></i><span>Consultas Personal</span>
            </a>
          </li>
          <li>
            <a href={% url 'ver_parametros' %}>
              <i class="bi bi-circle"></i><span>Consultas Parametros</span>
            </a>
          </li>
          
        </ul>
      </li><!-- End Components Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed-active" data-bs-target="#components1-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Deposito</span><i class="bi bi-chevron-down ms-auto"> </i>
        </a>
        <ul id="components1-nav" class="nav-content collapse-active " data-bs-parent="#sidebar-nav">
          <li>
            <a href={% url 'index_deposito' %} >
              <i class="bi bi-circle"></i><span>Ingresos</span>
            </a>
          </li>
          
          <li>
            {% block class %}<a href={% url 'index_informes2' %} class="active">{% endblock class %}
              <i class="bi bi-circle"></i><span>Prep. Pedidos</span>
            </a>
          </li>
          <li>
            {% block class2 %}<a href={% url 'informe_global' %}>{% endblock class2 %}
              <i class="bi bi-circle"></i><span>Informes</span>
            </a>
          </li>
          
          
          
        </ul>
      </li>

      

       <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables1-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Perfil</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables1-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            {% if request.user.is_authenticated %}
            <a href={% url 'perfil' %}>
              <i class="bi bi-circle"></i><span>{{request.user.username}}</span>
            </a>
            <a href={% url 'logout' %}>
              <i class="bi bi-circle"></i><span>Desconectarse</span>
            </a>
            {% else %}
            <a href={% url 'login' %}>
              <i class="bi bi-circle"></i><span>Login</span>
            </a>

            {% endif %}
          </li>
          <li>
            
          </li>
        </ul>
      </li>
  </aside>

{% endblock barra_lateral %}



{% block dashboard %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Preparacion de pedidos</h5>

    <div class="pagetitle">
      <h1></h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href={% url 'index' %}>Menu</a></li> 
          <li class="breadcrumb-item">Preparacion de pedidos</li>
          {% comment %} <li class="breadcrumb-item active">Breadcrumbs</li> {% endcomment %}
        </ol>
      </nav>
    </div><!-- End Breadcrumbs with a page title -->

  </div>
</div>
{% endblock dashboard %}

{% block graficos_tablas %}
<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Carga de globales de picking</h5>
          
          <a href={% url 'nuevo_global' %}>
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Alta de pickings">
              Nuevo Picking
            </button>
          </a>
          {% comment %} <a href={% url 'iniciar_picking' %}>
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Inicia el proceso de picking físico">
              Iniciar Picking
            </button>
          </a> {% endcomment %}

          <a href={% url 'finalizar_global' %}>
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Finaliza el proceso de picking físico">
              Finalizar Picking
            </button>
          </a>

          {% comment %} <a href={% url 'iniciar_armado' %}>
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Inicia el proceso de armado de paquetes">
              Iniciar Armado
            </button>
          </a> {% endcomment %}

          <a href={% url 'finalizar_armado' %}>
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Finaliza el proceso de armado de paquetes">
              Finalizar Armado
            </button>
          </a>
          

        </div>
      </div>
    </div>
  </div>


  

  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Informes de preparacion de pedidos</h5>
          



          <a href={% url 'monitor' %}>
            <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Control por tarjetas de pendientes" >
              Monitor
            </button>
          </a>


          <!-- Tooltips Examples -->
          <a href={% url 'informe_global' %}>
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Muestra pendientes por cliente y días de atraso" >
              Ver Tabla por Cliente
            </button>
          </a>

          

          <a href={% url 'consulta_planilla' %}>
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tabla base de pendientes por fecha" >
              Consultar planilla
            </button>
          </a>

          <a href={% url 'informe_global' %}>
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Grafico lineal por fecha y cantidad de pendientes" >
              Informe grafico
            </button>
          </a>

          {% comment %} <a href={% url 'informe_global' %}>
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Pensemos entre Lauti, Tute y Santi, como serán los demás informes." >
              Hacer mas informes
            </button>
          </a> {% endcomment %}
          
          <!-- End Tooltips Examples -->

        </div>
      </div>

    </div>

  </div>



</section>

<div class="row">
  <div class="col-lg-8">
    <div class="row">
      <!-- Sales Card -->
      <div class="col-xxl-4 col-md-6">
        <div class="card info-card sales-card">

        

          <div class="card-body">
            <h5 class="card-title">Pendintes de Picking <span> | Hoy</span></h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-bag-x"></i>
              </div>
              <div class="ps-3">
                <h6>{{pendiente_pk_dia}}</h6>
                <span class="text-success small pt-1 fw-bold">...</span> <span class="text-muted small pt-2 ps-1"><a href= {% url 'detalle_pend_pk' %}> Ver detalle</a></span>

              </div>
            </div>
          </div>

        </div>
      </div><!-- End Sales Card -->

      <!-- Revenue Card -->
      {% comment %} <div class="col-xxl-4 col-md-6">
        <div class="card info-card revenue-card">

    

          <div class="card-body">
            <h5 class="card-title">En proceso de Picking<span> | Hoy</span></h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-bag-dash"></i>
              </div>
              <div class="ps-3">
                <h6>{{en_proceso_pk_dia}}</h6>
                <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1"><a href= {% url 'detalle_proc_pk' %}> Ver detalle</a></span>

              </div>
            </div>
          </div>

        </div>
      </div><!-- End Revenue Card --> {% endcomment %}

      <!-- Customers Card -->
      <div class="col-xxl-4 col-xl-12">

        <div class="card info-card customers-card">

          

          <div class="card-body">
            <h5 class="card-title">Finalizado de Picking <span> | Hoy</span></h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-bag-check"></i>
              </div>
              <div class="ps-3">
                <h6>{{finalizado_pk_dia}}</h6>
                <span class="text-danger small pt-1 fw-bold">...</span> <span class="text-muted small pt-2 ps-1"><a href= {% url 'detalle_fin_pk' %}> Ver detalle</a></span>

              </div>
            </div>

          </div>
        </div>

      </div><!-- End Customers Card -->


      <!-- Customers Card -->
      <div class="col-xxl-4 col-md-6">

        <div class="card info-card customers-card">


          <div class="card-body">
            <h5 class="card-title">Pendientes de Armado <span> | Hoy </span></h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-bag-x"></i>
              </div>
              <div class="ps-3">
                <h6>{{pendiente_arm_dia}}</h6>
                <span class="text-danger small pt-1 fw-bold">...</span> <span class="text-muted small pt-2 ps-1"><a href= {% url 'detalle_pend_arm' %}> Ver detalle</a></span>

              </div>
            </div>

          </div>
        </div>

      </div><!-- End Customers Card -->

      {% comment %} <div class="col-xxl-4 col-md-6">

        <div class="card info-card customers-card">


          <div class="card-body">
            <h5 class="card-title">En proceso de Armado <span>| Hoy</span></h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-bag-dash"></i>
              </div>
              <div class="ps-3">
                <h6>{{en_proceso_arm_dia}}</h6>
                <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1"><a href= {% url 'detalle_proc_arm' %}> Ver detalle</a></span>

              </div>
            </div>

          </div>
        </div>

      </div><!-- End Customers Card --> {% endcomment %}

      <div class="col-xxl-4 col-md-6">

        <div class="card info-card customers-card">


          <div class="card-body">
            <h5 class="card-title">Finalizado de Armado <span> | Hoy</span></h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-bag-check"></i>
              </div>
              <div class="ps-3">
                <h6>{{finalizado_arm_dia}}</h6>
                <span class="text-danger small pt-1 fw-bold">...</span> <span class="text-muted small pt-2 ps-1"><a href= {% url 'detalle_fin_arm' %}> Ver detalle</a></span>

              </div>
            </div>

          </div>
        </div>

      </div><!-- End Customers Card -->
      <div class="col-xxl-4 col-md-6">

        <div class="card info-card customers-card">


          <div class="card-body">
            <h5 class="card-title">Base del Dia <span> | Hoy</span></h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-bag-check"></i>
              </div>
              <div class="ps-3">
                <h6>{{base_del_dia}}</h6>
                <span class="text-danger small pt-1 fw-bold">...</span> <span class="text-muted small pt-2 ps-1"><a href= {% url 'base_dia' %}> Ver detalle</a></span>

              </div>
            </div>

          </div>
        </div>

      </div>

      {% comment %} <div class="col-xxl-4 col-md-6">

        <div class="card info-card customers-card">


          <div class="card-body">
            <h5 class="card-title">Armado Bultos por Hora<span> | Hoy</span></h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-bag-check"></i>
              </div>
              <div class="ps-3">
                <h6>{{base_del_dia}}</h6>
                <span class="text-danger small pt-1 fw-bold">12</span> <span class="text-muted small pt-2 ps-1"><a href= {% url 'base_dia' %}> Ver detalle</a></span>

              </div>
            </div>

          </div>
        </div>

      </div> {% endcomment %}

      <div class="col-xxl-4 col-md-6">

        <div class="card info-card customers-card">


          <div class="card-body">
            <h5 class="card-title">Picking Bultos por Hora<span> | Hoy</span></h5>

            <div class="d-flex align-items-center">
              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-bag-check"></i>
              </div>
              <div class="ps-3">
                <h6>{{base_del_dia}}</h6>
                <span class="text-danger small pt-1 fw-bold">...</span> <span class="text-muted small pt-2 ps-1"><a href= {% url 'base_dia' %}> Ver detalle</a></span>

              </div>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Alta de parametros</h5>
        

        <!-- Tooltips Examples -->
        <a href={% url 'parametros' %}>
          <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Alta de parametros necesarios para crear globales de pickings." >
            Parametros para Globales de Picking
          </button>
        </a>
        
        <!-- End Tooltips Examples -->

      </div>
    </div>

  </div>

</div>

{% endblock graficos_tablas %}

  
  