{% extends 'index.html' %}




{% block barra_lateral %}
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href={% url 'index_informes' %}>
          <i class="bi bi-grid"></i>
          <span>Sistema P.Pedidos</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Global PK</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href={% url 'nuevo_global' %}>
              <i class="bi bi-circle"></i><span>Nuevo</span>
            </a>
          </li>
          <li>
            <a href={% url 'finalizar_global' %}>
              <i class="bi bi-circle"></i><span>Finalizar PK</span>
            </a>
          </li>
          <li>
            <a href={% url 'finalizar_armado' %}>
              <i class="bi bi-circle"></i><span>Finalizar Armado</span>
            </a>
          </li>
          
          
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Parametros</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href={% url 'parametros' %}>
              <i class="bi bi-circle"></i><span>Parametros</span>
            </a>
          </li>
          
        </ul>
      </li><!-- End Forms Nav -->


      <li class="nav-heading">Links utiles</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href={% url 'informe_global' %}>
          <i class="bi bi-grid"></i>
          <span>Informe P. Pedidos</span>
        </a>
      </li><!-- End Profile Page Nav -->

      

      

    </ul>

  </aside><!-- End Sidebar-->
  {% endblock barra_lateral %}

{% block dashboard %}
<h1>Dashboard > Globales de PK </h1>
{% endblock dashboard %}


{% block graficos_tablas %}



<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
      <div class="col-12">
          <div class="bg-white rounded h-100 p-4">
              <h6 class="mb-4">Globales con estado de picking PENDIENTES: </h6>
              {% comment %} <a href={% url 'informe_global' %}><button class="btn btn-success">Actualizar</a></button> {% endcomment %}
              <table class="table table-bordered border-primary">
                  <thead>
                      <tr>
                          
                          <th scope="col">Numero</th>
                          <th scope="col">Cliente</th>
                          <th scope="col">Sub Cliente</th>
                          <th scope="col">Unidades</th>
                          <th scope="col">Fecha Proceso</th>
                          <th scope="col">Estado PK</th>
                          <th scope="col">Estado Armado</th>
                          <th scope="col">Accion</th>
                          <th scope="col">Accion</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for valor in informacion_pk_pend %}
                      <tr>
                          
                          <th>{{valor.numero}}</th>
                          <td>{{valor.cliente}}</td>
                          <td>{{valor.sub_cliente}}</td>
                          <td>{{valor.unidades}}</td>
                          <td>{{valor.fecha_procesado}}</td>
                          <td>{{valor.estado_picking}}</td>
                          <td>{{valor.estado_armado}}</td>
                          
                          <td><a href='#'{% comment %} {% url 'edicion_ficha' fichero.id %} {% endcomment %}><button class="btn btn-warning">Editar</a></td>
                          <td><button type="button" class="btn btn-outline-danger m-2"><a href='#'{% comment %} {% url 'edicion_ficha' fichero.id %} {% endcomment %} >Eliminar</a></button></td>

                          

                      </tr>
                      
                      {% endfor %}


                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>   
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
      <div class="col-12">
          <div class="bg-white rounded h-100 p-4">
              <h6 class="mb-4">Globales con estado de armado PENDIENTES: </h6>
              {% comment %} <a href={% url 'informe_global' %}><button class="btn btn-success">Actualizar</a></button> {% endcomment %}
              <table class="table table-bordered border-primary">
                  <thead>
                      <tr>
                          
                          <th scope="col">Numero</th>
                          <th scope="col">Cliente</th>
                          <th scope="col">Sub Cliente</th>
                          <th scope="col">Unidades</th>
                          <th scope="col">Fecha Proceso</th>
                          <th scope="col">Estado PK</th>
                          <th scope="col">Estado Armado</th>
                          <th scope="col">Accion</th>
                          <th scope="col">Accion</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for valor in informacion_arm_pend %}
                      <tr>
                          
                          <th>{{valor.numero}}</th>
                          <td>{{valor.cliente}}</td>
                          <td>{{valor.sub_cliente}}</td>
                          <td>{{valor.unidades}}</td>
                          <td>{{valor.fecha_procesado}}</td>
                          <td>{{valor.estado_picking}}</td>
                          <td>{{valor.estado_armado}}</td>
                          
                          <td><a href='#'{% comment %} {% url 'edicion_ficha' fichero.id %} {% endcomment %}><button class="btn btn-warning">Editar</a></td>
                          <td><button type="button" class="btn btn-outline-danger m-2"><a href='#'{% comment %} {% url 'edicion_ficha' fichero.id %} {% endcomment %} >Eliminar</a></button></td>

                          

                      </tr>
                      
                      {% endfor %}


                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>     




<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
      <div class="col-12">
          <div class="bg-white rounded h-100 p-4">
              <h6 class="mb-4">Globales con estado de Picking FINALIZADO del día de hoy: </h6>
              {% comment %} <a href={% url 'informe_global' %}><button class="btn btn-success">Actualizar</a></button> {% endcomment %}
              <table class="table table-bordered border-primary">
                  <thead>
                      <tr>
                          
                          <th scope="col">Numero</th>
                          <th scope="col">Cliente</th>
                          <th scope="col">Sub Cliente</th>
                          <th scope="col">Unidades</th>
                          <th scope="col">Fecha Proceso</th>
                          <th scope="col">Estado PK</th>
                          <th scope="col">Estado Armado</th>
                          <th scope="col">Accion</th>
                          <th scope="col">Accion</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for valor in inf_pk_fin %}
                      <tr>
                          
                          <th>{{valor.numero}}</th>
                          <td>{{valor.cliente}}</td>
                          <td>{{valor.sub_cliente}}</td>
                          <td>{{valor.unidades}}</td>
                          <td>{{valor.fecha_procesado}}</td>
                          <td>{{valor.estado_picking}}</td>
                          <td>{{valor.estado_armado}}</td>
                          
                          <td><a href='#'{% comment %} {% url 'edicion_ficha' fichero.id %} {% endcomment %}><button class="btn btn-warning">Editar</a></td>
                          <td><button type="button" class="btn btn-outline-danger m-2"><a href='#'{% comment %} {% url 'edicion_ficha' fichero.id %} {% endcomment %} >Eliminar</a></button></td>                          
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div> 




<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
      <div class="col-12">
          <div class="bg-white rounded h-100 p-4">
              <h6 class="mb-4">Globales con estado de armado FINALIZADO del día de hoy: </h6>
              {% comment %} <a href={% url 'informe_global' %}><button class="btn btn-success">Actualizar</a></button> {% endcomment %}
              <table class="table table-bordered border-primary">
                  <thead>
                      <tr>
                          
                          <th scope="col">Numero</th>
                          <th scope="col">Cliente</th>
                          <th scope="col">Sub Cliente</th>
                          <th scope="col">Unidades</th>
                          <th scope="col">Fecha Proceso</th>
                          <th scope="col">Estado PK</th>
                          <th scope="col">Estado Armado</th>
                          <th scope="col">Accion</th>
                          <th scope="col">Accion</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for valor in inf_arm_fin %}
                      <tr>
                          
                          <th>{{valor.numero}}</th>
                          <td>{{valor.cliente}}</td>
                          <td>{{valor.sub_cliente}}</td>
                          <td>{{valor.unidades}}</td>
                          <td>{{valor.fecha_procesado}}</td>
                          <td>{{valor.estado_picking}}</td>
                          <td>{{valor.estado_armado}}</td>
                          
                          <td><a href='#'{% comment %} {% url 'edicion_ficha' fichero.id %} {% endcomment %}><button class="btn btn-warning">Editar</a></td>
                          <td><button type="button" class="btn btn-outline-danger m-2"><a href='#'{% comment %} {% url 'edicion_ficha' fichero.id %} {% endcomment %} >Eliminar</a></button></td>                          
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div> 


{% endblock graficos_tablas %}