{% extends 'informes/index_informes.html' %}

{% block dashboard %}
<h1>Dashboard > Globales de PK > Informe Preparacion de Pedidos</h1>
{% endblock dashboard %}

{% block graficos_tablas %}



<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        {% comment %} <form action= {% url 'informe_global' %}>
            <table>
            {{form.as_table}}
            </table>
            <button type="submit" class="btn btn-success">Buscar</button>
            
        </form> {% endcomment %}
        
        <div class="col-sm-12">
            <div class="bg-white rounded h-100 p-4">
                <h6 class="mb-4">Informe diario picking pendiente</h6>
                <a href={% url 'informe_global' %}><button class="btn btn-black" >Actualizar</a></button>
                <table class="table table-bordered border-primary">
                    <thead>
                        <tr>
                            
                            
                            <th scope="col">Canal </th>
                            <th scope="col">Pendientes anteriores a {{anterior_a}}</th>
                            <th scope="col">Pendiente {{antes_ayer}}</th>
                            <th scope="col">Pendiente {{ayer}}</th>
                            <th scope="col">Base del dia {{hoy}}</th>
                            <th scope="col">Finalizado {{hoy}}</th>
                            <th scope="col">Pendiente para el siguiente dia {{siguiente}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for valor in informacion %}
                        <tr>
                            <th>{{valor.canal}}</th>
                            <th>{{valor.pend_tres_o_mas}}</th>
                            <th>{{valor.pend_dos}}</th>
                            <th>{{valor.pend_uno}}</th>
                            <th>{{valor.base_del_dia}}</th>
                            <th>{{valor.finalizado}}</th>
                            <th>{{valor.pendiente_para_sig_dia}}</th>

                            
                            {% comment %} <td>{{fichero.nombre}}</td>
                            <td>{{fichero.apellido}}</td>
                            <td>{{fichero.sucursal}}</td>
                            <td>{{fichero.categoria}}</td>
                            <td>{{fichero.tipo_tarifa}}</td>
                            <td>{{fichero.fecha_trabajada}}</td>
                            <td>{{fichero.id}}</td>
                            {% if fichero.pago_realizado == 'Si' %}
                            <td>{{fichero.pago_realizado}}</td>
                            {% else %}
                            <td>{{fichero.pago_realizado}}  -<a href={% url 'pagar_ficha' fichero.id %}><button class="btn btn-light">Pagar</a></button></td>
                            {% endif %}
                            <td><a href={% url 'edicion_ficha' fichero.id %}><button class="btn btn-warning">Editar</a></td>
                            <td><button type="button" class="btn btn-outline-danger m-2"><a href={% url 'eliminar_ficha' fichero.id %} >Eliminar</a></button></td> {% endcomment %}



                        </tr>
                        {% endfor %}
                       


                    </tbody>
                </table>
            </div>
        </div>














        

    </div>







    <div class="row g-4">
        {% comment %} <form action= {% url 'informe_global' %}>
            <table>
            {{form.as_table}}
            </table>
            <button type="submit" class="btn btn-success">Buscar</button>
            
        </form> {% endcomment %}
        
        <div class="col-sm-12">
            <div class="bg-white rounded h-100 p-4">
                <h6 class="mb-4">Informe diario armado pendiente</h6>
                <a href={% url 'informe_global' %}><button class="btn btn-black" >Actualizar</a></button>
                <table class="table table-bordered border-primary">
                    <thead>
                        <tr>
                            
                            
                            <th scope="col">Canal </th>
                            <th scope="col">Pendientes anteriores a {{anterior_a}}</th>
                            <th scope="col">Pendiente {{antes_ayer}}</th>
                            <th scope="col">Pendiente {{ayer}}</th>
                            <th scope="col">Base del dia {{hoy}}</th>
                            <th scope="col">Finalizado {{hoy}}</th>
                            <th scope="col">Pendiente para el siguiente dia {{siguiente}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for valor in informacion_arm %}
                        <tr>
                            <th>{{valor.canal}}</th>
                            <th>{{valor.pend_tres_o_mas}}</th>
                            <th>{{valor.pend_dos}}</th>
                            <th>{{valor.pend_uno}}</th>
                            <th>{{valor.base_del_dia}}</th>
                            <th>{{valor.finalizado}}</th>
                            <th>{{valor.pendiente_para_sig_dia}}</th>

                            
                            {% comment %} <td>{{fichero.nombre}}</td>
                            <td>{{fichero.apellido}}</td>
                            <td>{{fichero.sucursal}}</td>
                            <td>{{fichero.categoria}}</td>
                            <td>{{fichero.tipo_tarifa}}</td>
                            <td>{{fichero.fecha_trabajada}}</td>
                            <td>{{fichero.id}}</td>
                            {% if fichero.pago_realizado == 'Si' %}
                            <td>{{fichero.pago_realizado}}</td>
                            {% else %}
                            <td>{{fichero.pago_realizado}}  -<a href={% url 'pagar_ficha' fichero.id %}><button class="btn btn-light">Pagar</a></button></td>
                            {% endif %}
                            <td><a href={% url 'edicion_ficha' fichero.id %}><button class="btn btn-warning">Editar</a></td>
                            <td><button type="button" class="btn btn-outline-danger m-2"><a href={% url 'eliminar_ficha' fichero.id %} >Eliminar</a></button></td> {% endcomment %}



                        </tr>
                        {% endfor %}
                       


                    </tbody>
                </table>
            </div>
        </div>














        

    </div>
</div>        
{% endblock graficos_tablas %}