{% extends 'informes/index_informes2.html' %}






{% block dashboard %}
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Preparacion de pedidos</h5>

        <div class="pagetitle">
            <h1></h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href={% url 'index' %}>Menu</a></li> 
                    <li class="breadcrumb-item"><a href={% url 'index_informes2' %}>Preparacion de pedidos</a></li>
                    <li class="breadcrumb-item">Informe Diario de pendientes</li>
                    {% comment %} <li class="breadcrumb-item active">Breadcrumbs</li> {% endcomment %}
                </ol>
            </nav>
        </div><!-- End Breadcrumbs with a page title -->

    </div>
</div>
  



{% block class %}<a href={% url 'index_informes2' %} class="active">{% endblock class %}

{% block class2 %}<a href={% url 'informe_global' %}>{% endblock class2 %}



{% endblock dashboard %}

{% block graficos_tablas %}



{% comment %} <div class="container-fluid pt-4 px-4"> {% endcomment %}

<a href={% url 'informe_global' %}><button class="btn btn-black" >Actualizar</a></button>

<section class"section">
    <div class="row">

        
        <div class="col-lg-6">
        
            <div class"dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                <div class="dataTable-container">




                    <table border="1" class="table datatable dataTable-table" id="tablapk">
                        
                            
                        <tr>
                            <th onclick="sortTable(0, 'str')">Canal</th>
                            <th onclick="sortTable(0, 'int')"> Pendientes anteriores a {{anterior_a | date:"d/m/Y"}}</th>
                            <th onclick="sortTable(0, 'int')">Pendiente {{antes_ayer | date:"d/m/Y"}}</th>
                            <th onclick="sortTable(0, 'int')">Pendiente {{ayer | date:"d/m/Y"}}</th>
                            <th onclick="sortTable(0, 'int')">Pendientes de hoy {{hoy}}</th>
                            <th onclick="sortTable(0, 'int')">Finalizado {{hoy}}</th>
                            <th onclick="sortTable(0, 'int')">Pendiente para el siguiente dia {{siguiente}}</th>
                        </tr>


                        
                        
                        {% for valor in informacion %}
                        <tr>
                            <td><a href={% url 'detalle_por_subcliente' valor.canal %}>{{valor.canal}}</a></td>
                            <td>{{valor.pend_tres_o_mas}}</td>
                            <td>{{valor.pend_dos}}</td>
                            <td>{{valor.pend_uno}}</td>
                            <td>{{valor.base_del_dia}}</td>
                            <td>{{valor.finalizado}}</td>
                            <td>{{valor.pendiente_para_sig_dia}}</td>
                        </tr>
                        {% endfor %}



                        <tr>
                            <th>Total</th>
                            <th>{{total_pk_3}}</th>
                            <th>{{total_pk_2}}</th>
                            <th>{{total_pk_1}}</th>
                            <th>{{total_pk_0}}</th>
                            <th>{{fin_pk}}</th>
                            <th>{{total_pk_maniana}}</th>
                        </tr>
                            
                        
                        
                    </table>
                </div>
            </div>
                
        </div>
        
    

        
        <div class="col-lg-6">
            
            <div class"dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                <div class="dataTable-container">


                <table border="1" class="table datatable dataTable-table" id="tablaarm">
                    
                    <tr>
                        <th onclick="sortTablearm(0, 'str')">Canal </th>
                        <th onclick="sortTablearm(0, 'int')">Pendientes anteriores a {{anterior_a | date:"d/m/Y"}}</th>
                        <th onclick="sortTablearm(0, 'int')">Pendiente {{antes_ayer | date:"d/m/Y"}}</th>
                        <th onclick="sortTablearm(0, 'int')">Pendiente {{ayer | date:"d/m/Y"}}</th>
                        <th onclick="sortTablearm(0, 'int')">Pendientes de hoy {{hoy}}</th>
                        <th onclick="sortTablearm(0, 'int')">Finalizado {{hoy}}</th>
                        <th onclick="sortTablearm(0, 'int')">Pendiente para el siguiente dia {{siguiente}}</th>
                    </tr>


                    {% for valor in informacion_arm %}
                    <tr>
                        <td><a href={% url 'detalle_por_subcliente' valor.canal %}>{{valor.canal}}</td>
                        <td>{{valor.pend_tres_o_mas}}</td>
                        <td>{{valor.pend_dos}}</td>
                        <td>{{valor.pend_uno}}</td>
                        <td>{{valor.base_del_dia}}</td>
                        <td>{{valor.finalizado}}</td>
                        <td>{{valor.pendiente_para_sig_dia}}</td>
                    </tr>
                    {% endfor %}



                    <tr>
                        <th>Total</th>
                        <th>{{total_arm_3}}</th>
                        <th>{{total_arm_2}}</th>
                        <th>{{total_arm_1}}</th>
                        <th>{{total_arm_0}}</th>
                        <th>{{fin_arm}}</th>
                        <th>{{total_arm_maniana}}</th>
                    </tr>
                    

                </table>
            </div>
        </div>
        
    </div>

</section>

{% endblock graficos_tablas %}

