{% extends 'operaciones/index_operaciones.html' %}


{% block titulo1 %}
<title>South Post - Nuevo producto</title>
{% endblock titulo1 %}
{% block dashboard %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Deposito</h5>

      <div class="pagetitle">
        <h1></h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href={% url 'index' %}>Menu</a></li> 
            <li class="breadcrumb-item"><a href={% url 'index_deposito' %}> Ingresos</a></li>
            <li class="breadcrumb-item active">Nuevo producto</li>
          </ol>
        </nav>
      </div><!-- End Breadcrumbs with a page title -->

    </div>
{% endblock dashboard %}
{% block graficos_tablas %}



<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <form action={% url 'nuevo_producto' %} method = "POST"> 
            {% csrf_token %}
            <table>
                Por favor llene todos los campos
                {{form.as_table}}
            </table>

            <button type="submit" class="btn btn-info">Grabar</button>
        </form>
    </div>
</div>


{% if form2 %}
{{form2}}

{% endif %}






{% endblock graficos_tablas %}


