{% extends 'index_new.html' %}


{% block titulo1 %}
<title>Southapp - Aforar</title>
{% endblock titulo1 %}

{% block graficos_tablas %}


<form action={% url 'nuevo_aforo' %} method = "POST"> 
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <button>>Crear</button>
</form>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Formulario de aforos de productos</h6>
                <form>
                    <div class="mb-3">
                        <label class="form-label">Ingrese CIA - Max 3 digitos</label>
                        <input class="form-control">
                        <div id="emailHelp" class="form-text">Ingrese el prefijo de la CIA en SAAD.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Ingrese código de producto</label>
                        <input class="form-control">
                        <div id="emailHelp" class="form-text">Máximo 15 dígitos.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Ingrese descripción del producto</label>
                        <input class="form-control">
                        <div id="emailHelp" class="form-text">Máximo 180 dígitos.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Ingrese peso de unidad</label>
                        <input class="form-control">
                        <div id="emailHelp" class="form-text">En KG, ejemplo 200gr = 0,2 kg. // 20gr = 0,02 kg.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Ingrese largo de unidad</label><input class="form-control">
                        <label class="form-label">Ingrese ancho de unidad</label><input class="form-control">
                        <label class="form-label">Ingrese alto de unidad</label><input class="form-control">
                        <div id="emailHelp" class="form-text">El largo es el lado más largo de la unidad mirada del derecho.
                        </div>
                        <div id="emailHelp" class="form-text">El ancho es el lado más corto de la unidad mirada del derecho.
                        </div>
                        <div id="emailHelp" class="form-text">El alto es el lado para arriba de la unidad mirada del derecho.
                        </div>
                    </div>





                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Guardado en Jaula</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </form>
            </div>
        </div>

{% endblock graficos_tablas %}


