{% extends 'operaciones/index_operaciones.html' %}
{% block dashboard %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Deposito</h5>

      <div class="pagetitle">
        <h1></h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href={% url 'index' %}>Menu</a></li> 
            <li class="breadcrumb-item"><a href={% url 'index_deposito' %}> Ingresos</a></li>
            <li class="breadcrumb-item active"><a href={% url 'pendientes_aforos' %}>Pendientes de aforo</a></li>
          </ol>
        </nav>
      </div><!-- End Breadcrumbs with a page title -->

    </div>
{% endblock dashboard %}
{% block graficos_tablas %}

{% if msj_correcto %}

<div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show" role="alert">
    {{msj_correcto}}
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


{% endif %}

<div class="container-fluid pt-4 px-4">
    <div class="col-sm-12 col-xl-3">
        
        <div class="container-fluid pt-4 px-4">
            <form action= {% url 'pendientes_aforos' %}>
                
                {{form}}
                    <button>Buscar</button>
                
            </form>
        </div>
        
    </div>
</div>

    
<p></p>
<p></p>


<div class="container-fluid pt-4 px-4">
    <div class="col-sm-12 col-xl-auto">
        
        
        <p>Resultado de la busqueda:</p>
            <ul>
            {% if productos_listado %}
                {%for producto in productos_listado%}
                {% if producto.cia != '022' %}
                {% if producto.cia != '001' %}
                <li><a href={% url 'aforar' producto.id %} method="post">>AFORAR<</a>-Compañia: {{producto.cia}}- Código: {{producto.codigo}}- Descripción: {{producto.descripcion}}- Fecha Creacion: {{producto.fecha_creacion}} - Creado por: {{producto.usuario}}</li>
                {% endif %}
                {% endif %}
                
                
                {% endfor %}
            </ul>
            {% else %}
            Aun no se han encontrado productos.
            
            {% endif %}
        
        
    </div>
</div>








{% endblock graficos_tablas %}