{% extends 'empleados/index_meli.html' %}



{% block barra_lateral %}
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href={% url 'index' %}>
          <i class="bx bxs-home"></i>
          <span>Menu Principal</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Empleados</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
          <li>
            <a href={% url 'alta_personal_meli' %} class="active">
              <i class="bi bi-circle"></i><span>Alta Personal</span>
            </a>
          </li>
          <li>
            <a href={% url 'crear_categoria' %} >
              <i class="bi bi-circle"></i><span>Parametros</span>
            </a>
          </li>
          <li>
            <a href={% url 'fichero' %}>
              <i class="bi bi-circle"></i><span>Fichero</span>
            </a>
          </li>
          <li>
            <a href={% url 'busqueda_fichero' %}>
              <i class="bi bi-circle"></i><span>Consultas Fichero</span>
            </a>
          </li>
          <li>
            <a href={% url 'ver_personal' %}>
              <i class="bi bi-circle"></i><span>Consultas Personal</span>
            </a>
          </li>
          <li>
            <a href={% url 'ver_parametros' %}>
              <i class="bi bi-circle"></i><span>Consultas Parametros</span>
            </a>
          </li>
          
        </ul>
      </li><!-- End Components Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components1-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Deposito</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components1-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href={% url 'index_deposito' %}>
              <i class="bi bi-circle"></i><span>Ingresos</span>
            </a>
          </li>
          <li>
            <a href={% url 'index_informes2' %}>
              <i class="bi bi-circle"></i><span>Prep. Pedidos</span>
            </a>
          </li>
          <li>
            <a href={% url 'informe_global' %}>
              <i class="bi bi-circle"></i><span>Informes</span>
            </a>
          </li>
          
          
        </ul>
      </li><!-- End Components Nav -->

      

       <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables1-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Perfil</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables1-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            {% if request.user.is_authenticated %}
            <a href={% url 'perfil' %}>
              <i class="bi bi-circle"></i><span>{{request.user.username}}</span>
            </a>
            <a href={% url 'logout' %}>
              <i class="bi bi-circle"></i><span>Cerrar sesión</span>
            </a>
            {% else %}
            <a href={% url 'login' %}>
              <i class="bi bi-circle"></i><span>Login</span>
            </a>

            {% endif %}
          </li>
          <li>
            
          </li>
        </ul>
      </li>

  </aside><!-- End Sidebar-->
  {% endblock barra_lateral %}




{% block dashboard %}

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Empleados</h5>

        <div class="pagetitle">
          <h1></h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href={% url 'index' %}>Menu</a></li>
              <li class="breadcrumb-item">Alta Personal</li>
              {% comment %}<li class="breadcrumb-item active">Breadcrumbs</li> {% endcomment %}
            </ol>
          </nav>
        </div><!-- End Breadcrumbs with a page title -->

      </div>
        
    
{% endblock dashboard %}
{% block graficos_tablas %}


<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        {{msj}}
    </div>
</div>



{% comment %} <div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <form action={% url 'alta_personal_meli' %} method = "POST"> 
            {% csrf_token %}
            <table>
                {{form_alta.as_table}}
            </table>

            <button type="submit" class="btn btn-success">Crear</button>
        </form>
    </div>
</div> {% endcomment %}



<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
      <div class="col-sm-12 col-xl-6">
          <div class="bg-primary-light rounded h-100 p-4">
              <h6 class="mb-4">Formulario de alta de personal</h6>
              <form action={% url 'alta_personal_meli' %} method="post">
                  <div class="mb-3">
                      <label class="form-label">Intruduza el DNI</label>
                      <input class="form-control"{{form_alta.dni}}</input>
                      {% comment %} <div id="emailHelp" class="form-text">Mantener el modelo de la caja al principio de la descripcion. Ej: MOD123 / Pava ACME
                      </div> {% endcomment %}
                  </div>
                  
                  <div class="mb-3">
                      <label class="form-label">Introduzca el nombre</label>
                      <input class="form-control" {{form_alta.nombre}}</input>
                      {% comment %} <div id="emailHelp" class="form-text">En KG, ejemplo (200gr = 0,2 kg.) - (20gr = 0,02 kg.)
                      </div> {% endcomment %}
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Introduzca el apellio</label>
                    <input class="form-control" {{form_alta.apellido}}</input>
                    {% comment %} <div id="emailHelp" class="form-text">En KG, ejemplo (200gr = 0,2 kg.) - (20gr = 0,02 kg.)
                    </div> {% endcomment %}
                </div>



                  <div class="mb-3">
                      <label class="form-label">Banco</label><input class="form-control"{{form.banco}}</input>
                      <label class="form-label">CBU</label><input class="form-control"{{form.cbu}}</input>
                      <label class="form-label">Alias</label><input class="form-control"{{form.alias}}</input>
                      
                  </div>
                  <div class="col-sm-10">
                    <select class="form-select" id="sucursal_por_defecto" aria-label="Floating label select example">

                      
                      {% comment %} <option selected>Seleccione una opcion:</option> {% endcomment %}
                      

                      {% for valor in form.sucursal_por_defecto %}
                      

                      <option>{{valor.sucursal_por_defecto}}</option>
                      
                      
                      
                      {% endfor %}
                    
                    
                    </select>




                    

                
                  <button type="submit" class="btn btn-primary">Grabar</button>
              </form>
          </div>
      </div>
  </div>
</div>






{% endblock graficos_tablas %}