{% extends 'empleados/index_meli.html' %}


{% block graficos_tablas %}



<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <form action= {% url 'editar_fichero' %}>
            <table>
            {{form.as_table}}
            </table>
            <button type="submit" class="btn btn-info">Buscar</button>
            
        </form>


        {% if msj %}
        {{msj}}
        {% else %}
        
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Resultado de la busqueda</h6>
                <a href={% url 'editar_fichero' %}><button class="btn btn-info">Exportar reporte</a></button>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">DNI</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Sucursal</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Tipo tarifa</th>
                            <th scope="col">Dia trabajado</th>
                            <th scope="col">Pago realizado</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for fichero in ficheros_listado %}
                        <tr>
                            <th scope="row">id: {{fichero.id}}</th>
                            <td>{{fichero.dni}}</td>
                            <td>{{fichero.nombre}}</td>
                            <td>{{fichero.apellido}}</td>
                            <td>{{fichero.sucursal}}</td>
                            <td>{{fichero.categoria}}</td>
                            <td>{{fichero.tipo_tarifa}}</td>
                            <td>{{fichero.fecha_trabajada}}</td>
                            <td>{{fichero.pago_realizado}}</td>
                            <td><a href={% url 'edicion_ficha' fichero.id %}>Editar</a></td>



                        </tr>
                        {% endfor %}
                        


                    </tbody>
                </table>
            </div>
        </div>














        {% endif %}

    </div>
</div>        
{% endblock graficos_tablas %}