{% extends 'empleados/index_meli.html' %}


{% block graficos_tablas %}



<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <form action= {% url 'editar_fichero' %}>
            <table>
            {{form.as_table}}
            </table>
            <button type="submit" class="btn btn-info">Buscar</button>
            
        </form>


        {% if msj %}
        {{msj}}
        {% else %}
        



        <p>Resultado de la busqueda:</p>
            <ul>
                {%for fichero in ficheros_listado%}
                <li><a href={% url 'edicion_ficha' fichero.id %}>Editar - </a>Fecha: {{fichero.fecha_trabajada}}- Dni: {{fichero.dni}}- Apellido: {{fichero.apellido}}- Tarifa: {{fichero.tipo_tarifa}}- Total dia: {{fichero.total_dia}} </li>
                {% endfor %}
            </ul>


        {% endif %}

    </div>
</div>        
{% endblock graficos_tablas %}