{% extends 'index_new.html' %}


{% block graficos_tablas %}

{% block barra_lateral %}




{% endblock barra_lateral %}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-8 col-sm-3 text-center">
            <span>Seleccione la opcion deseada</span>
        </div>
    </div>
</div>


<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-8 col-sm-3 text-center">
            <a class="btn btn-sm btn-info" href="">Agregar nueva persona</a>
        </div>
    </div>
</div>


<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-8 col-sm-3 text-center">
            <a class="btn btn-sm btn-info" href="">Informar quien trabajo y quien no</a>
        </div>
    </div>
</div>



{% endblock graficos_tablas %}







{% block barra_mensaje %}
{% endblock barra_mensaje %}
