{% extends 'empleados/index_meli.html' %}

{% block barra_lateral %}
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href={% url 'index' %}>
          <i class="bx bxs-home"></i>
          <span>Menu Principal</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Empleados</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
          <li>
            <a href={% url 'alta_personal_meli' %}>
              <i class="bi bi-circle"></i><span>Alta Personal</span>
            </a>
          </li>
          <li>
            <a href={% url 'crear_categoria' %}>
              <i class="bi bi-circle"></i><span>Parametros</span>
            </a>
          </li>
          <li>
            <a href={% url 'fichero' %}>
              <i class="bi bi-circle"></i><span>Fichero</span>
            </a>
          </li>
          <li>
            <a href={% url 'busqueda_fichero' %}>
              <i class="bi bi-circle"></i><span>Consultas Fichero</span>
            </a>
          </li>
          <li>
            <a href={% url 'ver_personal' %}>
              <i class="bi bi-circle"></i><span>Consultas Personal</span>
            </a>
          </li>
          <li>
            <a href={% url 'ver_parametros' %} class="active">
              <i class="bi bi-circle"></i><span>Consultas Parametros</span>
            </a>
          </li>
          
        </ul>
      </li><!-- End Components Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components1-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Deposito</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components1-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href={% url 'index_deposito' %}>
              <i class="bi bi-circle"></i><span>Ingresos</span>
            </a>
          </li>
          <li>
            <a href={% url 'index_informes' %}>
              <i class="bi bi-circle"></i><span>Prep. Pedidos</span>
            </a>
          </li>
          <li>
            <a href={% url 'informe_global' %}>
              <i class="bi bi-circle"></i><span>Informes</span>
            </a>
          </li>
          
          
        </ul>
      </li><!-- End Components Nav -->

      

       <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables1-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Perfil</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables1-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            {% if request.user.is_authenticated %}
            <a href={% url 'perfil' %}>
              <i class="bi bi-circle"></i><span>{{request.user.username}}</span>
            </a>
            <a href={% url 'logout' %}>
              <i class="bi bi-circle"></i><span>Cerrar sesión</span>
            </a>
            {% else %}
            <a href={% url 'login' %}>
              <i class="bi bi-circle"></i><span>Login</span>
            </a>

            {% endif %}
          </li>
          <li>
            
          </li>
        </ul>
      </li>

  </aside><!-- End Sidebar-->
  {% endblock barra_lateral %}
{% block dashboard %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Empleados</h5>

        <div class="pagetitle">
          <h1></h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href={% url 'index' %}>Menu</a></li> 
              <li class="breadcrumb-item">Consultas de parametros</li>
              {% comment %} <li class="breadcrumb-item active">Breadcrumbs</li> {% endcomment %}
            </ol>
          </nav>
        </div><!-- End Breadcrumbs with a page title -->

      </div>
        
{% endblock dashboard %}

{% block graficos_tablas %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <form action= {% url 'ver_parametros' %}>
            <table>
            {{msj_sucursal}}
            {{form_sucursal.as_table}}
            </table>
            <button name="btn_busqueda_sucursal" type="submit" class="btn btn-success">Buscar</button>
            <button name="btn_todos_s" type="submit" class="btn btn-warning">Ver todos</button>
            
        </form>

        <form action= {% url 'ver_parametros' %}>
            <table>
                {{msj_categoria}}
            {{form_categoria.as_table}}
            </table>
            <button name="btn_busqueda_categoria" type="submit" class="btn btn-success">Buscar</button>
            <button name="btn_todos_c" type="submit" class="btn btn-warning">Ver todos</button>
            
        </form>

        <form action= {% url 'ver_parametros' %}>
            <table>
            {{msj_tarifa}}
            {{form_tipo_tarifa.as_table}}
            </table>
            <button name="btn_busqueda_tarifa" type="submit" class="btn btn-success">Buscar</button>
            <button name="btn_todos_t" type="submit" class="btn btn-warning">Ver todos</button>
            
        </form>
        

    {{msj}}
    {% if sucursales %}
    <div class="col-12">

        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Resultado de la busqueda</h6>
            <a href={% url 'ver_parametros' %}><button class="btn btn-info">Exportar reporte</a></button>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        
                        <th scope="col">Sucursal</th>
                        <th scope="col">Accion</th>
                        <th scope="col">Accion</th>

                    </tr>
                </thead>
                <tbody>
                    {% for sucursal in sucursales %}
                    <tr>
                        <th>{{sucursal.sucursal}}</th>
                        <td><button href="#" class="btn btn-warning"><a href={% url 'editar_sucursal' sucursal.id %}>Editar</a></button></td>
                        <td><button type="button" class="btn btn-outline-danger m-2"><a href={% url 'eliminar_sucursal' sucursal.id %} >Eliminar</a></button></td>



                    </tr>
                    {% endfor %}
                    


                </tbody>
            </table>
        </div>

    
    {% endif %}


    {% if categorias %}
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Resultado de la busqueda</h6>
            <a href={% url 'ver_parametros' %}><button class="btn btn-info">Exportar reporte</a></button>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        
                        <th scope="col">Categoria</th>
                        <th scope="col">Tarifa por dia</th>
                        <th scope="col">Accion</th>
                        <th scope="col">Accion</th>

                    </tr>
                </thead>
                <tbody>
                    {% for categoria in categorias %}
                    <tr>
                        <th>{{categoria.categoria}}</th>
                        <th>{{categoria.tarifa_por_dia}}</th>

                        <td><button href="#" class="btn btn-warning"><a href={% url 'editar_categoria' categoria.id %}>Editar</a></button></td>
                        <td><button type="button" class="btn btn-outline-danger m-2"><a href={% url 'eliminar_categoria' categoria.id %} >Eliminar</a></button></td>



                    </tr>
                    {% endfor %}
                    


                </tbody>
            </table>
        </div>
    
    {% endif %}

    {% if tipo_tarifa %}
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Resultado de la busqueda</h6>
            <a href={% url 'ver_parametros' %}><button class="btn btn-info">Exportar reporte</a></button>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        
                        <th scope="col">Tipo</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Accion</th>
                        <th scope="col">Accion</th>

                    </tr>
                </thead>
                <tbody>
                    {% for tipo in tipo_tarifa %}
                    <tr>
                        <th>{{tipo.tipo}}</th>
                        <th>{{tipo.valor}}</th>

                        <td><button href="#" class="btn btn-warning"><a href={% url 'editar_tarifa' tipo.id %}>Editar</a></button></td>
                        <td><button type="button" class="btn btn-outline-danger m-2"><a href={% url 'eliminar_tarifa' tipo.id %} >Eliminar</a></button></td>


                    </tr>
                    {% endfor %}
                    


                </tbody>
            </table>
        </div>

    
    
    {% endif %}
    {% if msj_vacio %}
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">{{msj_vacio}}</h6>
    </div>
    {% endif %}
    {% endblock graficos_tablas %}