asgiref==3.5.2
chardet==5.0.0
defusedxml==0.7.1
dj-database-url==1.0.0
Django==4.1.1
django-ckeditor==6.5.0
django-excel==0.0.10
django-heroku==0.3.1
django-js-asset==2.0.0
et-xmlfile==1.1.0
gunicorn==20.1.0
lml==0.1.0
mysqlclient==2.1.1
odfpy==1.4.1
openpyxl==3.0.10
Pillow==9.2.0
psycopg2==2.9.3
pyexcel==0.7.0
pyexcel-io==0.6.6
pyexcel-ods==0.6.0
pyexcel-webio==0.1.4
pyexcel-xlsx==0.6.0
pyexcel-xlsxw==0.6.1
python-decouple==3.6
python-dotenv==0.21.0
sqlparse==0.4.2
texttable==1.6.4
tzdata==2022.2
whitenoise==6.2.0
XlsxWriter==3.0.3
