{% extends 'index.html' %}



{% block dashboard %}

{% if msj %}
{{msj}}
{% endif %}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <form action={% url 'mensajes_por_estado' %} method = "POST"> 
            {% csrf_token %}
            <table>
                Por favor llene todos los campos
                {{form.as_table}}
            </table>

            <button type="submit" class="btn btn-info">Grabar</button>
        </form>
    </div>
</div>


{% endblock dashboard %}