{% extends 'index.html' %}

{% block titulo %}
<title>Visualizacion de dominios</title>
{% endblock titulo %}


{% block sub_titulo %}
<h1 class="mt-4">Control</h1>
{% endblock sub_titulo %}


{% block sub_titulo_2 %}
<li class="breadcrumb-item active">Documentacion:</li>
{% endblock sub_titulo_2 %}

{% block campos %}

{% for info in object_list %}

<p>Dominio: {{info.dominio}}</p>
<p>Nombre: {{info.nombre}}</p>
<p>Apellido: {{info.apellido}}</p>
<p>Imagen 1:<img src={{info.imagen1.url}} alt="" height="200px"></p>

<p><a class="nav-link" href={% url 'busqueda_transporte' %}>Volver</a></p>

{% endfor %}


{% endblock campos %}