{% extends 'index.html' %}

{% for valor in object_list %}
{% block titulo %}
<title>Visualizacion de dominio: {{request.valor.dominio}}</title>
{% endblock titulo %}


{% block sub_titulo %}
<h1 class="mt-4">Nombre: {{request.valor.nombre}}- Apellido: {{request.valor.apellido}}</h1>
{% endblock sub_titulo %}


{% block sub_titulo_2 %}
<li class="breadcrumb-item active">Documentacion:</li>
{% endblock sub_titulo_2 %}


{% block campos %}
<li>
<img src={{request.valor.imagen1.url}} alt="" height="200px">
<img src={{request.valor.imagen2.url}} alt="" height="200px">
<img src={{request.valor.imagen3.url}} alt="" height="200px">
<img src={{request.valor.imagen4.url}} alt="" height="200px">
<img src={{request.valor.imagen5.url}} alt="" height="200px">
<img src={{request.valor.imagen6.url}} alt="" height="200px">
<img src={{request.valor.imagen7.url}} alt="" height="200px">
</li>


{% endblock campos %}
{% endfor %}