{% extends 'index.html' %}
{% block dashboard %}
<h1>Dashboard > 404</h1>
{% endblock dashboard %}

{% block graficos_tablas %}
<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
        <div class="col-md-6 text-center p-4">
            <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
            <h1 class="display-1 fw-bold">404</h1>
            <h1 class="mb-4">Página no encontrada</h1>
            <p class="mb-4">Lo sentimos, el sitio no existe o esta en construcción.</p>
            <a class="btn btn-primary rounded-pill py-3 px-5" href={% url 'index' %}>Volver al inicio</a>
        </div>
    </div>
</div>

{% endblock graficos_tablas %}