{% load static %}

<title>Southapp</title>


<h1>Página en desarrollo</h1>

{% if request.user.is_authenticated %}
<h2>Esta logeado como {{request.user.username}}</h2>
{% else %}
<h2>Si posee una cuenta, ingrese</h2>
<p>
    <a href = {% url 'login' %}>Ingresar<a/>
</p>

{% endif %}



{% block transportes %}
<body>
    <p>
        <a href = {% url 'index_empleados' %}>EMPLEADOS<a/>
    </p>
    <p>
        <a href = {% url 'index_transporte' %}>TRANSPORTES<a/>
    </p>
    <p>
        <a href = {% url 'index_informes' %}>PLANILLAS<a/>
    </p>
</body>
{% endblock transportes %}

